// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header
{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Roboto;
}

body
{
    color: #424242;
}

tr
{
    border: 1px solid #E3E3E3;
}

tr:nth-child(even)
{
    background-color: #EDEDED;
}

tr:nth-child(odd)
{
    background-color: #FAFAFA;
}